.main__container-flex {
  /* text-align: center; */
  display: flex;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card__container{
  height: 90vh;
  border: 1px solid black;
}
.card__container--blur{
  opacity: 0.1;
}
.calender__container--block{
  flex-grow: 2;
  flex-basis: 25%;
}
.leftpanel__range{
  margin-top: 3px;
  border: 1px solid black;
  padding:5px;
}
.leftpanel__range--block{
  flex-grow: 1;
  flex-basis: 25%;
}
.leftpanel__range__maxProfit--block{
  margin-bottom: 3px;
  border: 1px solid black;
}
.leftpanel__range__chart--block{
  /* margin-bottom: 3px; */
  border: 1px solid black;
}
.calender__container--highlight{
  background-color: antiquewhite;
}